@keyframes loadingopacity {
    0% { opacity: 1; }
    50% { opacity: 0.25; }
    100% { opacity: 1; }
  }

.img-load {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0;
    animation: loadingopacity 0.5s infinite;
}