#desktop-header {
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 100;
  transition: linear 0.5s;
  font-family: Open Sans;

  &.sticky{
    background: #1C1C1C;
    opacity: 0.98;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &.bg-white {
    position: fixed;
    background: #ffffff;
    color: #0C172F;

    .header-bar {
      .header-logo {
        .img-logogram {
          filter: none;
        }
      }
    }
  }

  .header-bar {
    padding: 10px 0;

    .header-logo {
      display: inline-block;
      text-decoration: none;
      padding: 5px 0;

      .img-logogram {
        width: 35px;
        height: auto;
        margin-right: 5px;
        filter: invert(1);
      }

      .img-logotext {
        width: 90px;
        height: auto;
      }
    }

    .nav-menu{
      padding: 10px 0px;

      .nav-item{
        font-size: 10pt;
        margin: 0 15px;
      }

      .btn {
        height: 35px;
        width: auto;
        font-size: 14px;
        font-family: Open Sans;
        letter-spacing: 0.05em;

        &.btn-customize {
          opacity: 0.8;
        }
      }
    }
  }
}

.customize-bar {
  background: #2f2f2f;
  min-width: unset;
  width: 120px;
  border: none;
  opacity: 0.9;
  font-family: Open Sans;

  &.bg-white {
    background: #ffffff;
    border: 1px solid #2f2f2f;

    .item {
      &:hover {
        background: #ffffff;
      }
    }
  }

  .item {
    padding: 5px 0;
    list-style: none;

    &:hover {
      background: #2f2f2f;
      color: #ffffff;
      opacity: 0.8;
    }

    .btn-item {
      width: 100%;
      font-size: 14px;
      text-align: left;
      font-family: Open Sans;
    }
  }
}

// @media (max-width: 768px) {
//   #mobile-header {
//     .header-bar{
//       .nav-menu{
//         padding: 10px -5px;
//       }
//     }
//   }
// }