.section-header {
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 100;
  transition: linear 0.5s;

  &.sticky{
    background: #2f2f2f;
    position: sticky;
  }

  .header-bar {
    padding: 10px 0;

    .header-logo {
      display: inline-block;
      text-decoration: none;
      padding: 5px 0;

      .img-logogram {
        width: 35px;
        height: auto;
        margin-right: 5px;
      }

      .img-logotext {
        width: 90px;
        height: auto;
      }

      .title-logo {
        color: #fff;
        margin: 5px;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .nav-menu{
      padding: 7px 0;

      .nav-item{
        font-size: 10pt;
        margin-left: 10px;
      }

      .btn-outlinewhite {
        background: transparent;
        border: none;
        color: #fff;
        height: 35px;
        width: auto;
        font-size: 10pt;

        &.all {
          border: 1px solid #fff;
        }
      }

      .btn-outlinewhite:focus {
        box-shadow: none;
      }

      .btn-outlinewhite:hover {
        &.all:hover {
          background: #fff;
          color: #2f2f2f;
        }
      }

    }
  }
}

@media (min-width: 768px) {
  #section-header {
    .header-bar{
      padding: 15px 0;
    }
  }
}