#mobile-header {
  width: 100%;
  background: #1C1C1C;
  position: absolute;
  top: 0;
  z-index: 100;
  transition: linear 0.5s;
  font-family: Open Sans;

  &.sticky{
    background: #1C1C1C;
    // opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &.transparent{
    background: transparent;
  }

  &.bg-white {
    position: fixed;
    background: #ffffff;
    color: #0C172F;

    .header-bar {
      .header-logo {
        .img-logogram {
          filter: none;
        }
      }
    }
  }

  .header-bar {
    padding: 0;

    .nav-menu{
      padding: 8px 15px;
      text-align: left;

      .btn {
        height: 35px;
        width: auto;
        font-size: 14px;
        font-family: Open Sans;
      }
    }

    .nav-center {
      text-align: center;

      .title {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;

        color: white;

        &.white {
          color: #0C172F;
        }
      }
    }

    .nav-logogram {
      text-align: center;
      padding: 4px 15px 2px 0px;
    }

    .header-logo {
      display: inline-block;
      text-decoration: none;
      padding: 5px 0;
      text-align: right;

      .img-logo {
        width: 130px;
        height: auto;
        filter: invert(1);
      }

      .img-logogram {
        height: 35px;
        filter: invert(1);
      }
    }
  }

  .nav-list {
    font-size: 14px;
    box-shadow: 0px 2px 5px 0.5px #2f2f2f2f;

    &.customize {
      // padding-top: 15px;
      padding-left: 15px;
      background: #1C1C1C;
      box-shadow: none;

      &.bg-white {
        background: #ffffff;
      }
    }

    .nav-item {
      margin-bottom: 15px;

      .btn {
        width: 100%;
        font-size: 14px;
        font-family: Open Sans;
        
        &.btn-nav-item {
          padding: 0;
          text-align: left;
          border: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #mobile-header {
    .header-bar{
      padding: 15px 0;
    }
  }
}