#page-cart {
  padding-top: 75px;

  .title {
    font-family: Playfair Display;
    font-size: 32px;
    text-align: left;
    color: #4E4E56;
    margin-top: 25px;
  }

  .col-item {
    padding-right: 40px;
  }

  .col-summary {
    padding-left: 20px;
  }
}