body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fontawesome
@import "~@fortawesome/fontawesome-free/css/all.css";

// import styles
@import './pages/home/desktop';

@import './containers/commons/header/desktop';
@import './containers/commons/footer/desktop';
@import './containers/home/main-slider/desktop';
@import './containers/home/how-it-works/desktop';
@import './containers/home/features/desktop';
@import './containers/home/book-appointment/desktop';
@import './containers/home/social-proof/desktop';
@import './containers/home/best-collections/desktop';
@import './containers/home/testimoni/desktop';
