#wedding-package-list-section{
    padding: 0 0 70px 0;
    background-size: cover;
    font-family: Open Sans;
    
    a {
      color: none;
      
      .wedding-cta {
        display: grid;
        margin: 20px auto;
        justify-self: center;
        background-color: #0C172F;
      }
    }

    .container {
      width: 100%;
      padding: 0;

      .title-bespoke-service {
        font-family: Playfair Display;
        font-weight: normal;
        color:#0C172F;
        font-size: 24px;
        text-align: center;
        margin: 20px;
        margin-top: 35px;
      }
    
      .subtitle-bespoke-service {
        color: #58595B;
        font-size: 14px;
        text-align: center;
        margin: 0 auto 30px;
        width: 85%
      }
      
      .wedding-section {
        width: 100%;
        margin-top: 40px;
        padding: 20px 15px;
        background: rgb(251,251,251);

        .wedding-suit-label {
          font-family: Open Sans;
          font-weight: normal;
          color:black;
          font-size: 14px;
          text-align: left;
          letter-spacing: 0.4em;
          margin: 0;
        }

        .wedding-title {
          font-family: Playfair Display;
          font-weight: normal;
          color:#0C172F;
          font-size: 38px;
          text-align: left;
        }

        .wedding-description {
          font-weight: normal;
          color:black;
          font-size: 14px;
          text-align: left;
          margin-top: 20px;
        }

        .wedding-price-label {
          font-family: Playfair Display;
          font-size: 36px;
          color: rgb(37,53,70);
        }

        .wedding-price-save {
          font-weight: normal;
          color:black;
          font-size: 16px;
          text-align: left;
          margin-top: 12px;
        }

        .wedding-img {
          width: 100%;
        }
      }
    }
  
    .question-card {
      margin: 5px 0;
      
      .question-card-answer {
        padding: 10px 20px;
      }
    }
  
    .data-list {
      margin-top: 20px;
  
      .data-item {
        text-align: center;
        margin-bottom: 35px;
  
        .item-img {
          height: 97px;
          margin-bottom: 20px; 
        }
  
        .item-title {
          font-size: 18px;
          margin-bottom: 10px;
        }
  
        .item-text {
          font-size: 14px;
          color: #58595B;
          margin: 0;
        }
      }
    }
  }
  
  @media (min-width: 992px) {
    #faq-section {
      background: url('../../../assets/images/bg-faq-desktop.jpg') no-repeat;
      background-size: cover; 
  
      .title-faq {
        font-size: 32px;
      }
  
      .subtitle-faq {
        width: 85%;
      }
  
      .category-title {
        font-size: 24px;
      }
  
      .data-list {
        .data-item {
          text-align: left;
  
          .item-title {
            height: 42px;
          }
    
          .item-text {
            font-size: 12px;
          }
        }
      }
    }
  }