.section-footer {
	background: url('../../../assets/images/bg-footer-mobile.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #1c1c1c;
	color: #ffffff;
	font-size: 13px;
	font-family: Open Sans;

	.row {
		margin-bottom: 0 !important;
	}

	.footer-top {
		padding-top: 20px;
    padding-bottom: 50px;

		.footer-links {
			margin-bottom: 20px;
			
      .wrapper-img{
				margin-bottom: 20px;

        .footer-logo{
          text-decoration: none;
          display: inline-block;

          .img-logo{
            width: 140px;
						height: auto;
						filter: invert(1);
					}
        }
			}
			.wrapper-lang{
				text-align: center;
				
				.text-lang {
					display: inline;
					color: #ffffff;
					margin-right: 10px;
					line-height: 2.8;
				}
			}

			h5 {
        margin-bottom: 20px;
				color: #ffffff;
				font-size: 11pt;
				line-height: 1.2;
				font-weight: 500;
				text-align: left;
			}

			.list-unstyled {
				line-height: 1.15;
        text-align: left;
        
        .menu-item {
          margin-bottom: 15px;
          font-size: 10pt;
  
          .link-item {
            color: #ffffff;
            text-decoration: none;
            font-weight: 400;
						opacity: 1;
						
						.icon-item {
							margin-right: 5px;
						}
          }
        }
			}
		}

		.footer-icon{
			padding-bottom: 5%;
		}

		.btn-just-icon {
      min-width: 35px;
      padding: 8px;
			margin: auto 2px;
			color:#fff !important;
			opacity: 1 !important;
			padding-left: 0 !important;
			padding-top: 0 !important;
			text-align: left !important;

			i {
        font-size: 16px;
        padding: 2px 0;
				color:#fff !important;
			}

			.fab {
				font-family: "Font Awesome\ 5 Brands" !important;
			}
		}

		.btn-just-icon:hover, .btn-just-icon:focus, .btn-just-icon:active {
			color:#fff !important;
		}
	}

	.footer-credit {
		text-align: center;
		padding: 15px 0;
    font-size: 12px;
    letter-spacing: 0.44px;
		color: #ffff;
		background-color: rgb(28,28,28);
		
		.row {
			margin: 0;
    
			.menu-item {
				display: inline;

				.link-item{
					color: #ffff;
					text-decoration: none;
					margin: 0 10px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.section-footer {
		background: url('../../../assets/images/bg-footer-desktop.jpg') no-repeat center center; 
		background-color: #1c1c1c;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		.footer-top {
			padding-top: 50px;

			.footer-links {
				.wrapper-lang {
					text-align: left;
				}
			}
		}

		.footer-credit {
			.copyright {
				text-align: left;
			}

			.credit {
				text-align: right;
			}
		}
	}
}