#filter-bar-section {
  height: 100vh;

  .tab {
    margin-bottom: 50px;
    .tab-fabric {
      text-align: right;
    }

    .tab-features {
      text-align: left;
    }
    
    .btn-tab {
      width: 120px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      background: #ffffff;
      color: #4E4E56;
      border: none;

      &:focus {
        box-shadow: none !important;
      }

      &.active {
        font-weight: bold;
        border-bottom: 2px solid #4E4E56;
      }
    }
  }

  .tab-content {
    font-family: Open Sans;
    height: 100%;

    .tab-pane {
      overflow: scroll;

      &.fabric {
        .fabric-item {
          .fabric-text {
            font-style: normal;

            .fabric-text-name {
              font-weight: 600;
              font-size: 14px;
              line-height: 24px;
              margin-bottom: 10px;
            }

            .fabric-text-grade, .fabric-text-desc {
              font-size: 12px;
              line-height: 20px;
              margin-bottom: 5px;
            }

            .fabric-text-grade{
              font-weight: bold;
            }
          }

          .fabric-color {

            .fabric-color-item {
              padding: 15px;

              .fabric-color-img {
                width: 100%;
              }
              .fabric-color-name {
                font-size: 12px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}