#filter-bar-mobile {
  height: 50vh;
  width: 100%;
  position: fixed;
  bottom: 0;

  .tab {
    margin-bottom: 25px;
    
    .tab-fabric {
      text-align: right;
    }

    .tab-features {
      text-align: left;
    }
    
    .btn-tab {
      width: 120px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      background: #ffffff;
      color: #4E4E56;
      border: none;

      &:focus {
        box-shadow: none !important;
      }

      &.active {
        font-weight: bold;
        border-bottom: 2px solid #4E4E56;
      }
    }
  }

  .tab-content {
    font-family: Open Sans;
    height: 80%;
    overflow: scroll;
    padding: 0 15px;

    .tab-pane {

      &.fabric {
        .fabric-item {
          margin-bottom: 20px;
          
          .fabric-text {
            font-style: normal;

            .fabric-text-name {
              font-weight: 600;
              font-size: 14px;
              line-height: 24px;
              margin-bottom: 10px;
            }

            .fabric-text-grade, .fabric-text-desc {
              font-size: 12px;
              line-height: 20px;
              margin-bottom: 5px;
            }

            .fabric-text-grade{
              font-weight: bold;
            }
          }

          .fabric-color {

            .row-color {
              margin: 0;
              padding: 0 15px;

              .fabric-color-item {
                padding: 10px;
  
                &.color-active {
                  border: 0.5px dashed #808285;
                  border-radius: 4px;
                }
  
                .wrapper-color-item {
                  width: 100%;
                }
  
                .fabric-color-img {
                  width: 100%;
                }
                .fabric-color-name {
                  margin: 0;
                  font-size: 12px;
                  line-height: 20px;
                  background: #1c1c1c;
                  color: #ffffff;
                  text-align: center;
                }
              }
            }
          }
        }
      }

      &.features {
        .feature-item {
          width: 100%;
          margin-bottom: 20px;

          .feature-text {
            font-style: normal;

            .feature-text-name {
              font-weight: 600;
              font-size: 14px;
              line-height: 24px;
              margin-bottom: 10px;
            }
          }

          .feature-options{
            .lining {
              width: 100%;
              display: flex;
              flex-wrap: wrap;

              .tab-lining {
                .btn-tab {
                  width: 100%;
                  font-family: Open Sans;
                  font-style: normal;
                  font-weight: 300;
                  font-size: 13px;
                  background: #ffffff;
                  color: #4E4E56;
                  border: none;

                  &:focus {
                    box-shadow: none !important;
                  }
            
                  &.active {
                    font-weight: bold;
                  }
                }
              }
            }

            .option-item {
              padding: 12px;
              cursor: pointer;

              &.active {
                border: 0.5px dashed #808285;
                border-radius: 4px;
              }

              .option-item-img {
                width: 100%;
              }
              .option-item-name {
                margin: 0;
                font-size: 12px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}