#best-collections-section{
  padding: 40px 0;
  background: #ffffff;

  .info-section {
    margin: 20px -15px;

    .left-section {
      color: #0C172F;
      padding: 19% 15px;

      .tag-collection {
        font-size: 20px;
        letter-spacing: 0.4rem;
      }

      .title-collection {
        font-size: 48px;
      }

      .text-collection {
        margin-top: 20px;
        font-size: 16px;
      }
    }

    .right-section {
      .img-collection {
        max-width: 100%;
      }
    }
  }

  .data-section {
    margin: 40px -15px;

    .data-item {
      .item-img {
        width: 100%;
      }
    }
  }

  .more-section {
    margin: 20px 0;
    justify-content: center;

    .btn {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .more-section {
      .btn {
        width: 257px;
        height: 52px;
      }
    }
  }
}