#live-preview-desktop {
  margin: 35px auto 0;
  width: 85%;
  height: 520px;
  background: #F9F9F9;

  .container {
    padding: 0;
    height: 100%;
    
    .row {
      margin: 0;
    }

    .row-top {
      height: 10%;

      .wrapper-btn {
        text-align: center;
        padding: 0;

        .btn-full {
          height: auto;
          width: auto;
          background: transparent;
          border: none;
          color: #1C1C1C;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    .row-bottom {
      height: 90%;

      .wrapper-img {
        padding: 0 9%;
        height: 100%;

        .img-preview {
          width: 80%;
          position: absolute;
        }
      }
    }
  }
}