#about-us-section{
  padding: 20px 0 70px 0;
  background: url('../../../assets/images/bg-social-proof-mobile.jpg') no-repeat;
  background-size: cover;
  font-family: Open Sans;

  .title-about-us {
    font-family: Playfair Display;
    font-weight: normal;
    color:#0C172F;
    font-size: 24px;
    text-align: center;
    margin: 20px;
    margin-top: 35px;
  }

  .subtitle-about-us {
    color: #58595B;
    font-size: 14px;
    text-align: center;
    margin: 0 auto 30px;
    width: 85%
  }

  .section-title {
    font-family: Playfair Display;
    font-weight: normal;
    color:#0C172F;
    font-size: 20px;
    text-align: center;
    margin: 20px;
    margin-top: 35px;
  }

  .section-content {
    justify-self: center;
    margin: 1rem auto;
    
    @media (max-width: 992px) {
      width: 90%;
    }

    a {
      color: rgba(50,50,50,1);
      text-decoration: underline;

      &:hover {
        color: #0C172F;
      }
    }
  }
}

@media (min-width: 992px) {
  #about-us-section {
    background: url('../../../assets/images/bg-faq-desktop.jpg') no-repeat;
    background-size: cover;


    .title-about-us {
      font-size: 32px;
    }

    .subtitle-about-us {
      width: 85%;
    }

    .section-title {
      font-size: 24px;
    }

    .about-us-section {
      max-width: 75%; 
      align-self: center;
      margin: auto;
    }
  }
}