#how-it-works-section{
  padding-top: 50px;
  background: url('../../../assets/images/bg-how-it-works-mobile.jpg') no-repeat;
  background-size: cover;
  font-family: Open Sans;

  .container {
    .title-how {
      font-family: Playfair Display;
      font-weight: normal;
      color:#0C172F;
      font-size: 24px;
      text-align: center;
      margin-bottom: 50px;
    }

    .data-list {
      .data-item {
        text-align: center;
        margin-bottom: 50px;

        .item-text {
          margin: 20px auto;
          font-size: 14px;
          width: 70%;
        }
      }
    }
  }

}
@media (min-width: 992px) {
  #how-it-works-section {
    background: url('../../../assets/images/bg-how-it-works-desktop.jpg') no-repeat;
    background-size: cover; 
    
    .container {
      padding: 0 120px;
  
      .title-how {
        font-size: 32px;
      }
  
      .data-list {
        .data-item {
          .item-text {
            font-size: 16px;
            width: 80%;
          }
        }
      }
    }
  }
}